*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    /* color: white; */
}
.wrapper-outer{
    border: solid 1px black;
    /* margin: 2rem 2rem; */
    padding: 1rem 4rem;
    background-color: #ff3f62;
}
.wrapper-inner{
    border-radius: 5%;
    margin: 0% 20vw;
    padding: 0 5rem;
    padding-bottom: 2rem;
    background-color: white;
    text-align: center;
    text-align-last: center;
}

form{
    display: inline-block;
}

.align_center{
    margin-left: 7.2rem;
}

.bg_color{
    margin-left: 39vw;
}
.gap{
    padding-bottom: 2rem;
}
.small{
    max-width: 25vw;
}

input[type=button],
input[type=submit] {
  background-color: #62529c;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
input[type=button],
input[type=reset] {
  background-color: #62529c;
  border: none;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}